body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d19445;
    
}

.card {
    background-color: #9deb69;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 300px;
    overflow: hidden;
    
}

.card-title {
    background-color: #007bff;
    color: white;
    padding: 16px;
    font-size: 18px;
    text-align: center;
    
}

.card-content {
    padding: 16px;
    
}
